@charset "UTF-8";

/* 

html {
    font-family: 'Noto Serif JP', serif;
    color: #1b2e41;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}

.kyotoimg{
  background-image: url(https://www.kiyomizudera.or.jp/assets/img/event/night_ph_04.jpg);
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.logopic{
  margin-top: 120px;
  position: relative;
  z-index: 3;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    position: fixed;
    z-index: 4;
    top: 8px;
    left: 8px;
    width: 100%;
}   

body{
    background-color:#dcd6d2;
    z-index: 1;
    text-align: center;
    
}

.about{
    margin-top: 60%;
}

.restaurant, .event{
    margin-top: 20%;
}


footer{
    margin-top: 20%;
    position: fixe;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
}

#about{
  font-size: 22px;

}

#header{
    font-size: 15px;
}

 */

 *{
  font-family: 'Noto Serif JP', serif;
 }
  
  #header{
    padding: 10px;
    background:#666;
      color: #fff;
    text-align: center;
  }
  
  .box{
    color: #fff;
    padding: 40px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #box1{
      background: #333;
      /* background-image: url(https://www.kiyomizudera.or.jp/assets/img/event/night_ph_04.jpg); */
      width: 100%;
      height: auto;
    } 
  #box2{
      background: #666;
  }
  #box3{
      background: #888;
  }
  #box4{
      background: #000;
  }
  
  #footer{
    background:#333;
    color:#fff;
    padding:20px;
    text-align:center;
  }
  
  #footer a{
    color: #fff;
  }
  /*========= ページネーションCSS ===============*/
  
  .pagination {
    position:fixed;
    right:20px;
    top: 50%;
      transform: translateY(-50%);
    font-size:1em;
    z-index: 10;
    list-style: none;
  }
  
  .pagination a {
    display:block;
    height:20px;
    margin-bottom:5px;
    color:#fff;
    position:relative;
    padding:4px;
  }
  
  .pagination a.active:after {
    box-shadow:inset 0 0 0 5px;
  }


  /*京都ロゴアニメーション*/
  .logopic {
    animation: fadein 3s ease-out forwards;
  }
  
  @keyframes fadein {
    0% {opacity: 0}
    100% {opacity: 1}
  }